aiohttp==3.3.2
aiohttp-jinja2==1.0.0
aiopg==0.14.0
async-timeout==3.0.0
asyncio==3.4.3
attrs==18.1.0
chardet==3.0.4
idna==2.7
idna-ssl==1.1.0
Jinja2==2.10
MarkupSafe==1.0
multidict==4.3.1
psycopg2==2.7.5
PyYAML==3.13
SQLAlchemy==1.2.10
yarl==1.2.6
